<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="login-box">
        <div class="row">
          <div class="col-xs-12 clearfix" id="login-box-header">
            <div class="login-box-header-red"></div>
            <div class="login-box-header-green"></div>
            <div class="login-box-header-yellow"></div>
            <div class="login-box-header-purple"></div>
            <div class="login-box-header-blue"></div>
            <div class="login-box-header-gray"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <login></login>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
