


<div class="col-md-12" >
				<div class="row">
					<div class="col-lg-12">
						<h1>Booking Policies</h1>
					         <a  class="btn btn-primary pull-right" href="#/calender" >Calender And Events </a>
						<div class="row">
							<div class="col-md-12 hidden-xs hidden-sm">
								<div class="main-box" id="external-events">
									<h2>Draggable Policies</h2>
									<div class="external-event label-primary" data-eventclass="label-primary">Weekend Special</div>
									<div class="external-event label-danger" data-eventclass="label-danger">Stewart Wedding Special (WSP232)</div>
									<div class="external-event label-success" data-eventclass="label-success">Nov 1 et 2 Special</div>
									<div class="external-event label-warning" data-eventclass="label-warning">Holiday Season</div>
									<div class="external-event label-info" data-eventclass="label-info">ONG Doctors Special (ONG323)</div>
									<div class="form-group">
										<label class="checkbox-inline">
											<input type="checkbox" id="drop-remove" value="option1"> Remove after drop
										</label>
									</div>
								</div>

							</div>
							
							
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="main-box clearfix">
									<div class="clearfix">
										<h2 class="pull-left">Booking Policies</h2>
										
										<div class="filter-block pull-right">
											<div class="form-group pull-left">
												<input type="text" class="form-control" placeholder="Search...">
												<i class="fa fa-search search-icon"></i>
											</div>
											
											<a href="#" class="btn btn-primary pull-right">
												<i class="fa fa-plus-circle fa-lg"></i> Add policy
											</a>
										</div>
									</div>

									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th><a href="#"><span>Policy ID</span></a></th>
													<th><a href="#" class="desc"><span>Start Date</span></a></th>
													<th><a href="#" class="asc"><span>End Date</span></a></th>
													<th class="text-center"><span>Title</span></th>
													<th class="text-left"><span>Description</span></th>
													<th class="text-center"><span>Room Types</span></th>
													<th class="text-center"><span>Rate</span></th>
													<th class="text-center"><span>Percentage</span></th>
													<th class="text-center"><span>Minimum Nights Required</span></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<a href="#">#8002</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Weekend Special
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														All
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														-15%
													</td>
													<td class="text-center">
														2
													</td>
												</tr>
												<tr>
													<td>
														<a href="#">WSP232</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Stewart Wedding Special
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														All
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														-10%
													</td>
													<td class="text-center">
														0
													</td>
												</tr>
												<tr>
													<td>
														<a href="#">#8002</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Holiday Season
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														All
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														+20%
													</td>
													<td class="text-center">
														0
													</td>
												</tr>
												<tr>
													<td>
														<a href="#">#8002</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Weekend Special
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														Superior Double; Deluxe Double
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														-15%
													</td>
													<td class="text-center">
														2
													</td>
												</tr>
												<tr>
													<td>
														<a href="#">#8002</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Weekend Special
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														Junior Suite
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														-15%
													</td>
													<td class="text-center">
														2
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<ul class="pagination pull-right">
										<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
	
	
	
	

