<div class="row">

     <div class="col-md-6">
   
     

        <p> <label>Number of Rooms Booked</label> {{summary.noRooms}}</p>
        <p> <label>Total Price </label>  {{summary.tPrice}}</p>
        <p> <label>Number of Guest  </label> {{summary.noGuest}}</p>
       

    </div>

    <div class="col-md-6">
        <p> <label>Start Date </label>  {{summary.startdate | date:'yyyy-MM-dd'}}</p>
        <p> <label>End Date  </label> {{summary.enddate | date:'yyyy-MM-dd'}}</p>
    </div>
  </div>      

<div class="row">
   <div class ="col-md-6 col-md-offset-2">
     <div class="form-group">
        
            <a  class="btn btn-block btn-primary" ng-click="proceed()">
            Continue <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
      
        </div>
     </div>   
 </div>       
</div>
   

   

 
