<br/>

<div class="row">
	
	<div class="col-md-4">
		
      <img  data-ng-src="{{userdetails.image}}" alt="" err-SRC="img/na.jpg" class="img-responsive img-thumbnail" style="width:200px;height:300px"/>
	</div>

	<div class="col-md-8">
		<h2 style="color:#FFFAF0" > Names    : {{userdetails.name.first}}  {{userdetails.name.first}}</h2>

		<h2 style="color:#FFFAF0" > Email   : {{userdetails.email}}  </h2>

       <h2 style="color:#FFFAF0" > Role   : {{userdetails.role}}  </h2>


       <h2  style="color:#FFFAF0" > Status   : {{userdetails.status}}  </h2>

	</div>
</div>