<!DOCTYPE html>
<html ng-app="Booking">
<head>
  <base href="/admin">
  <title>Elizabeth Booking Administration</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/admin_lib.css">
  <link rel="stylesheet" href="/css/admin.css">
  <script type="text/javascript" src="/js/libs.js"></script>
  <script type="text/javascript" src="/js/admin.js"></script>
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <link rel="stylesheet" type="text/css" href="css/elements.css">
</head>
<body class="container-fluid">
  <header>
    <top-nav></top-nav>
  </header>
  <main>

    <section class="col-lg-3" left-nav></section>
    <section class="col-lg-9" ng-view></section>
  </main>
  <footer>
    <footer-nav></footer-nav>
  </footer>
</body>
</html>

<script type="text/ng-template" id="editcustomertmpl">
 <div class="ngdialog-message">
  <h4>Edit Reservation Details</h4>

  <form class="form-horizontal">
  <div class="form-group">
        <label for="reservationid" class="control-label col-xs-4">Reservation Id</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="reservationid" placeholder="Reservation id" ng-model="cust._id" disabled >
        </div>
    </div>

   <div class="form-group">
        <label for="stdate" class="control-label col-xs-4">Start Date</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="stdate" placeholder="Start Date" ng-model="cust.start.date"  >
        </div>
    </div>

    <div class="form-group">
        <label for="edate" class="control-label col-xs-4">End Date</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="edate" placeholder="End Date" ng-model="cust.end.date"  >
        </div>
    </div>

     <div class="form-group">
        <label for="fname" class="control-label col-xs-4">First name</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="fname" placeholder="First Name" ng-model="cust.name.first"  >
        </div>
    </div>
     <div class="form-group">
        <label for="lname" class="control-label col-xs-4">Last name</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="lname" placeholder="Last Name" ng-model="cust.name.last"  >
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="control-label col-xs-4">Email</label>
        <div class="col-xs-8">
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="cust.email"  >
        </div>
    </div>

    <div class="form-group">
        <label for="tel" class="control-label col-xs-4">Telephone</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="tel" placeholder="telephone" ng-model="cust.telephone"  >
        </div>
    </div>

    <div class="form-group">
        <label for="tel" class="control-label col-xs-4">Telephone</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="tel" placeholder="telephone" ng-model="cust.telephone"  >
        </div>
    </div>

    <div class="form-group">
        <label for="rooms" class="control-label col-xs-4">Rooms</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="rooms" placeholder="rooms" ng-model="cust.rooms"  >
        </div>
    </div>

    <div class="form-group">
        <label for="price" class="control-label col-xs-4">Price</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="price" placeholder="Price" ng-model="cust.price"  >
        </div>
    </div>

  </form>

  
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')">Update</button>

  </div>
</script>

<script type="text/ng-template" id="customertmpl">
 <div class="ngdialog-message">
  <h3>Reservation Details</h3>
  <p>Reservation ID : {{ cust._id }}</p>
  <p>Start Date : {{cust.start.date | date:'MM/dd/yyyy'}}</p>
  <p>Customer Names : {{cust.name.first}} {{cust.name.last}}</p>
  <p>Email : {{cust.email}}</p>
  <p>Telephone : {{cust.telephone}}</p>



  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-warning" ng-click="confirm('ok')">Confirm</button>

  </div>
</script>


<script type="text/ng-template" id="checkinmpl">
 <div class="ngdialog-message">
  <h3>Client Reservation Details</h3>
  <p>Reservation ID : {{ client._id }}</p>
  <p>Start Date : {{client.start.date | date:'MM/dd/yyyy'}}</p>
  <p>Customer Names : {{client.name.first}} {{client.name.last}}</p>
  <p>Email : {{client.email}}</p>
  <p>Telephone : {{client.telephone}}</p>

  
  
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')">Checkin</button>
    
  </div>
</script>


<script type="text/ng-template" id="checkoutmpl">
 <div class="ngdialog-message">
  <h3>Client Reservation Details</h3>
  <p>Reservation ID : {{ checkout._id }}</p>
  <p>Start Date : {{checkout.start.date | date:'MM/dd/yyyy'}}</p>
  <p>Customer Names : {{checkout.name.first}} {{checkout.name.last}}</p>
  <p>Email : {{checkout.email}}</p>
  <p>Telephone : {{checkout.telephone}}</p>

  
  
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')">Check-Out</button>
    
  </div>
</script>

  <script type="text/ng-template" id="roomtmpl">
 <div class="ngdialog-message">
  <h3>Room Details ..</h3>
  <hr/>
  <p><img  data-ng-src="{{room.images[0]}}" alt="" err-SRC="img/na.jpg" class="img-responsive img-thumbnail" style="width:100px;height:100px"/></p>
  <p>Room Number : {{ room.id }}</p>
  <p>Room Type : {{room.type}}</p>
  <p>Room Status : {{room.status}}</p>
  <p>Room Last Update: {{room.lastupdate}}</p>
  <p>Room Base Price : {{room.base_price}}</p>

</script>


<script type="text/ng-template" id="addroomstmpl">
 <div class="ngdialog-message">
  <h3>Add Rooms..</h3>
 
  <form class="form-horizontal">
  <div class="form-group">
        <label for="roomnumber" class="control-label col-xs-4">Room Number</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="roomnumber" placeholder="Room Number" ng-model="room.id">
        </div>
    </div>
    <div class="form-group">
        <label for="roomtype" class="control-label col-xs-4">Room type</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="roomtype" placeholder="Room Type" ng-model="room.type">
        </div>
    </div>
    <div class="form-group">
        <label for="roomtitle" class="control-label col-xs-4">Room Title</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="roomtitle" placeholder="Room Title" ng-model="room.title">
        </div>
    </div>
    <div class="form-group">
        <label for="roomdesc" class="control-label col-xs-4">Room Description</label>
        <div class="col-xs-8">
            <textarea rows="3" class="form-control" id="roomdesc" placeholder="Room Description" ng-model="room.description"/>
        </div>
    </div>

    <div class="form-group">
        <label for="roomcat" class="control-label col-xs-4">Room Category</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="roomcat" placeholder="Room Category" ng-model="room.category">
        </div>
    </div>
    <div class="form-group">
        <label for="roombasePrice" class="control-label col-xs-4">Room Base Price</label>
        <div class="col-xs-8">
            <input type="number" class="form-control" id="roombasePrice" placeholder="Room Base Price" ng-model="room.base_price">
        </div>
    </div>
    <div class="form-group">
      <input type="file" class="btn btn-error col-xs-8 col-xs-offset-2" ng-file-model="room.image" >Upload Image </input>


    </div>

 
  
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-error" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(room)">Save</button>
    
  </div>
  </form>
</script>



<script type="text/ng-template" id="usertmpl">
 <div class="ngdialog-message">
  <h3>Add Users..</h3>
 
  <form class="form-horizontal">
  <div class="form-group">
        <label for="fname" class="control-label col-xs-4">First Name</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="fname" placeholder="First Name" ng-model="user.firstname">
        </div>
    </div>
    <div class="form-group">
        <label for="lname" class="control-label col-xs-4">Last name</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="lname" placeholder="Last Name" ng-model="user.lastname">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label col-xs-4">Email</label>
        <div class="col-xs-8">
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
        </div>
    </div>
    <div class="form-group">
    <label for="role" class="control-label col-xs-4" >Roles</label>
       <div class="col-xs-8">
        <select class="form-control"  ng-model="user.role" id="role" ng-options="c.name for c in roles"  required/>
      </div  
    </div>
   <br/>
  <br/>
   
   <div class="form-group">
      <input type="file" class="btn btn-error col-xs-8 col-xs-offset-2" ng-file-model="user.image" >Upload Image </input>


    </div>
    <hr>
    <h3>Login Credentials</h3
          <div class="form-group">
        <label for="username" class="control-label col-xs-4">User Name</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="username" placeholder="User Name" ng-model="user.username">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-4">Password</label>
        <div class="col-xs-8">
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
        </div>
    </div>
  
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-error" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(user)">Save User</button>
    
  </div>
  </form>
</script>
