<!DOCTYPE html>
<html ng-app="Booking">
<head>
  <base href="/admin">
  <title>Elizabeth Booking Administration</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/admin_lib.css">
  <link rel="stylesheet" href="/css/admin.css">
  <script type="text/javascript" src="/js/libs.js"></script>
  <script type="text/javascript" src="/js/admin.js"></script>
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <link rel="stylesheet" type="text/css" href="css/elements.css">
</head>
<body class="container-fluid">
  <header>
    <top-nav></top-nav>
  </header>
  <main>

    <section class="col-lg-3" left-nav></section>
    <section class="col-lg-9" ng-view></section>
  </main>
  <footer>
    <footer-nav></footer-nav>
  </footer>
</body>
</html>


<script type="text/ng-template" id="customertmpl">
 <div class="ngdialog-message">
  <h3>Reservation Details</h3>
  <p>Reservation ID : {{ cust._id }}</p>
  <p>Start Date : {{cust.start.date | date:'MM/dd/yyyy'}}</p>
  <p>Customer Names : {{cust.name.first}} {{cust.name.last}}</p>
  <p>Email : {{cust.email}}</p>
  <p>Telephone : {{cust.telephone}}</p>



  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-warning" ng-click="confirm('ok')">Confirm</button>

  </div>
</script>


<script type="text/ng-template" id="checkinmpl">
 <div class="ngdialog-message">
  <h3>Client Reservation Details</h3>
  <p>Reservation ID : {{ client._id }}</p>
  <p>Start Date : {{client.start.date | date:'MM/dd/yyyy'}}</p>
  <p>Customer Names : {{client.name.first}} {{client.name.last}}</p>
  <p>Email : {{client.email}}</p>
  <p>Telephone : {{client.telephone}}</p>

  
  
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('ok')">Checkin</button>
    
  </div>
</script>

