
				<div class="row">
					<div class="col-lg-12">						
					
						
						<div class="row">
							<div class="col-lg-12">
								<div class="main-box clearfix">
									<div class="clearfix">
										<h2 class="pull-left">Rooms</h2>
										
										<div class="filter-block pull-right">
											<div class="form-group pull-left">
												<input type="text" class="form-control" ng-model="search" placeholder="Search...">
												<i class="fa fa-search search-icon"></i>
											</div>
											
											<a class="btn btn-primary pull-right" ng-click="addRoom()">
												<i class="fa fa-plus-circle fa-lg" ></i> Add a room
											</a>
										</div>
									</div>
									
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
												   <th>image </th>
													<th><a href="#"><span>Room #</span></a></th>
													<th class="text-right"><a href="#" class="asc"><span>Type</span></a></th>
													<th class="text-center"><span>Status</span></th>
													<th class="text-center"><a href="#" class="desc"><span>Last Updated</span></a></th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>


                                               <tr dir-paginate="room in rooms | orderBy:'id' | filter:search | itemsPerPage:3 " pagination-id="rooms">

                                                  <td>
											<img  data-ng-src="{{room.images[0]}}" alt="" err-SRC="img/na.jpg" class="img-responsive img-thumbnail" style="width:100px;height:100px"/>
													</td>
					                             <td><a  ng-click="viewroom(room)">#{{room.id}}</a></td>

					                              <td class="text-right">{{room.type}}</td>
					                              <td class="text-center"><span class="label label-warning">{{room.status}}</span> </td>
					                         <td class="text-center"><span class="label label-success">{{room.lastupdate | date:'MM/dd/yyyy'}}</span></td>
					                              <td style="width: 15%;">
												  <a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link danger">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
															</span>
														</a>
													</td>
					                                   
					                            

					                          </tr>
					                         
					                        </tbody>
					                      </table>
                   

                                               <dir-pagination-controls   max-size="3"  direction-links="true"  boundary-links="true" class="pull-right" pagination-id="rooms">  </dir-pagination-controls>

										
									</div>
									
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-12">
								<div class="main-box clearfix">
									<div class="clearfix">
										<h2 class="pull-left">Service</h2>
										
										<div class="filter-block pull-right">
											<div class="form-group pull-left">
												<input type="text" class="form-control" placeholder="Search...">
												<i class="fa fa-search search-icon"></i>
											</div>
											
											<a href="#" class="btn btn-primary pull-right">
												<i class="fa fa-plus-circle fa-lg"></i> Add a service
											</a>
										</div>
									</div>
									
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th><a href="#"><span>Service</span></a></th>
													<th class="text-right"><a href="#" class="asc"><span>Description</span></a></th>
													<th class="text-center"><span>Status</span></th>
													<th class="text-center"><span>Price</span></th>
													<th class="text-center"><a href="#" class="desc"><span>Last Updated</span></a></th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														1hr Massage
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
													</td>
													<td class="text-center">
														<span class="label label-warning">Inactive</span>
													</td>
													<td class="text-center">
														&dollar;100
													</td>
													<td class="text-center">
														2013/08/08 12:08
													</td>
													<td style="width: 15%;">
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link danger">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
															</span>
														</a>
													</td>
												</tr>
												<tr>
													<td>
														Romantic Dinner on the Beach
													</td>
													<td class="text-right">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
													</td>
													<td class="text-center">
														<span class="label label-success">Active</span>
													</td>
													<td class="text-center">
														&dollar;75
													</td>
													<td class="text-center">
														2013/08/08 12:08
													</td>
													<td style="width: 15%;">
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link danger">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
															</span>
														</a>
													</td>
												</tr>
												<tr>
													<td>
														3 hour - Scuba Diving Excursion
													</td>
													<td class="text-right">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
													</td>
													<td class="text-center">
														<span class="label label-success">Active</span>
													</td>
													<td class="text-center">
														2013/08/08 12:08
													</td>
													<td class="text-center">
														&dollar;200
													</td>
													<td style="width: 15%;">
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link danger">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
															</span>
														</a>
													</td>
												</tr>
												<tr>
													<td>
														Meal Plan
													</td>
													<td class="text-right">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
													</td>
													<td class="text-center">
														<span class="label label-success">Active</span>
													</td>
													<td class="text-center">
														2013/08/08 12:08
													</td>
													<td class="text-center">
														&dollar;30
													</td>
													<td style="width: 15%;">
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link danger">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
															</span>
														</a>
													</td>
												</tr>
												<tr>
													<td>
														Beverage Package (Non-Alcoholic)
													</td>
													<td class="text-right">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
													</td>
													<td class="text-center">
														<span class="label label-success">Active</span>
													</td>
													<td class="text-center">
														2013/08/08 12:08
													</td>
													<td class="text-center">
														&dollar;30
													</td>
													<td style="width: 15%;">
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
															</span>
														</a>
														<a href="#" class="table-link danger">
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
															</span>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<ul class="pagination pull-right">
										<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
				</div>

	