<div class="col-md-10" id="content-wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h1>Booking Policies</h1>
					
						<div class="row">
							<div class="col-md-3 hidden-xs hidden-sm">
								<div class="main-box" id="external-events">
									<h2>Draggable Policies</h2>
									<div class="external-event label-primary" data-eventclass="label-primary">Weekend Special</div>
									<div class="external-event label-danger" data-eventclass="label-danger">Stewart Wedding Special (WSP232)</div>
									<div class="external-event label-success" data-eventclass="label-success">Nov 1 et 2 Special</div>
									<div class="external-event label-warning" data-eventclass="label-warning">Holiday Season</div>
									<div class="external-event label-info" data-eventclass="label-info">ONG Doctors Special (ONG323)</div>
									<div class="form-group">
										<label class="checkbox-inline">
											<input type="checkbox" id="drop-remove" value="option1"> Remove after drop
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-9">:
								<div class="main-box">
									<div id="calendar"></div>
								</div>
							</div>
							
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="main-box clearfix">
									<div class="clearfix">
										<h2 class="pull-left">Booking Policies</h2>
										
										<div class="filter-block pull-right">
											<div class="form-group pull-left">
												<input type="text" class="form-control" placeholder="Search...">
												<i class="fa fa-search search-icon"></i>
											</div>
											
											<a href="#" class="btn btn-primary pull-right">
												<i class="fa fa-plus-circle fa-lg"></i> Add policy
											</a>
										</div>
									</div>

									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th><a href="#"><span>Policy ID</span></a></th>
													<th><a href="#" class="desc"><span>Start Date</span></a></th>
													<th><a href="#" class="asc"><span>End Date</span></a></th>
													<th class="text-center"><span>Title</span></th>
													<th class="text-left"><span>Description</span></th>
													<th class="text-center"><span>Room Types</span></th>
													<th class="text-center"><span>Rate</span></th>
													<th class="text-center"><span>Percentage</span></th>
													<th class="text-center"><span>Minimum Nights Required</span></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<a href="#">#8002</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Weekend Special
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														All
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														-15%
													</td>
													<td class="text-center">
														2
													</td>
												</tr>
												<tr>
													<td>
														<a href="#">WSP232</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Stewart Wedding Special
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														All
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														-10%
													</td>
													<td class="text-center">
														0
													</td>
												</tr>
												<tr>
													<td>
														<a href="#">#8002</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Holiday Season
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														All
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														+20%
													</td>
													<td class="text-center">
														0
													</td>
												</tr>
												<tr>
													<td>
														<a href="#">#8002</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Weekend Special
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														Superior Double; Deluxe Double
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														-15%
													</td>
													<td class="text-center">
														2
													</td>
												</tr>
												<tr>
													<td>
														<a href="#">#8002</a>
													</td>
													<td>
														2014/10/08
													</td>
													<td>
														2014/10/15
													</td>
													<td class="text-center">
														Weekend Special
													</td>
													<td class="text-left">
														Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
													</td>
													<td class="text-center">
														Junior Suite
													</td>
													<td class="text-center">
														Default
													</td>
													<td class="text-center">
														-15%
													</td>
													<td class="text-center">
														2
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<ul class="pagination pull-right">
										<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- this page specific inline scripts -->
	<script>
	$(document).ready(function() {
		/* initialize the external events
		-----------------------------------------------------------------*/
	
		$('#external-events div.external-event').each(function() {
		
			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
				title: $.trim($(this).text()) // use the element's text as the event title
			};
			
			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);
			
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});
			
		});
	
	
		/* initialize the calendar
		-----------------------------------------------------------------*/
		
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			selectable: true,
			selectHelper: true,
			select: function(start, end, allDay) {
				var title = prompt('Event Title:');
				if (title) {
					calendar.fullCalendar('renderEvent',
						{
							title: title,
							start: start,
							end: end,
							allDay: allDay
						},
						true // make the event "stick"
					);
				}
				calendar.fullCalendar('unselect');
			},
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar !!!
			drop: function(date, allDay) { // this function is called when something is dropped
			
				// retrieve the dropped element's stored Event Object
				var originalEventObject = $(this).data('eventObject');
				
				// we need to copy it, so that multiple events don't have a reference to the same object
				var copiedEventObject = $.extend({}, originalEventObject);
				
				// assign it the date that was reported
				copiedEventObject.start = date;
				copiedEventObject.allDay = allDay;
				
				// copy label class from the event object
				var labelClass = $(this).data('eventclass');
				
				if (labelClass) {
					copiedEventObject.className = labelClass;
				}
				
				// render the event on the calendar
				// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
				
				// is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) {
					// if so, remove the element from the "Draggable Events" list
					$(this).remove();
				}
				
			},
			buttonText: {
				prev: '<i class="fa fa-chevron-left"></i>',
				next: '<i class="fa fa-chevron-right"></i>'
			},
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1),
					className: 'label-success'
				},
				{
					title: 'Long Event',
					start: new Date(y, m, d-5),
					end: new Date(y, m, d-2)
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 16, 0),
					allDay: false,
					className: 'label-danger'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false,
					className: 'label-info'
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false,
					className: 'label-success'
				},
				{
					title: 'Birthday Party',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false,
					className: 'label-info'
				},
				{
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'http://google.com/',
					className: 'label-danger'
				}
			]
		});
	});
	</script>

