
<div class ="row">
<div class ="col-md-12">
<div data-directive="query">
  <form ng-submit="submit()">
    <fieldset>
      <div class="form-group">
        <label>Check In</label>
        <input type="date" class="form-control" name="check_in" ng-model="query.check_in" required>
      </div>
      <div class="form-group">
        <label>Check Out</label>
        <input type="date" class="form-control" name="check_out" ng-model="query.check_out" value="{{three_days}}" required>
      </div>
      <div class="form-group ">
        <label>Adults</label>
        <select ng-model="query.adults" convert-to-number required>
          <option ng-repeat="adult in max_adults" value="{{adult}}" ng-selected="query.adults == adult">{{adult}}</option>
        </select>
      </div>
      <div class="form-group ">
        <label>Children</label>
        <select ng-model="query.childs" convert-to-number required>
          <option ng-repeat="child in max_childs" value="{{child}}" ng-selected="query.childs == child">{{child}}</option>
        </select>
      </div>

       <div class="form-group">
        <label>Promo Code </label>
        <input  class="form-control" name="promocode" ng-model="query.promocode"  >
      </div>

      <button type="submit" class="btn btn-primary center-block">Search Availability</button>
    </fieldset>
  </form>

   
    
</div>
</div>
</div>
